<a href="https://colab.research.google.com/github/TheErujeje/jejetutorial2/blob/main/DataAnalysisTutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pandas import Series

In [ ]:
print('hello world')

hello world

In [ ]:
se = Series([1,3,4,5,6,7])

In [ ]:
print(se)

0    1
1    3
2    4
3    5
4    6
5    7
dtype: int64

In [ ]:
print(se[2])

4

In [ ]:
se2 = Series([100,200,300], index=['a','b','c'])

In [ ]:
print(se2)

a    100
b    200
c    300
dtype: int64

In [ ]:
print(se2['a'])

100

In [ ]:
salary = {'John':3000, 'Tim':4500, 'Rob':5600}

In [ ]:
print(salary)

{'John': 3000, 'Tim': 4500, 'Rob': 5600}

In [ ]:
se3 = Series(salary)

In [ ]:
print(se3)

John    3000
Tim     4500
Rob     5600
dtype: int64

In [ ]:
print(se3['Rob'])

5600

In [ ]:
se3

John    3000
Tim     4500
Rob     5600
dtype: int64

In [ ]:
  data = {'Name':['John','Tim','Rob'],
          'Age':[34, 23, 42],
          'Salary':[4500, 2300, 5800]
          }

In [ ]:
from pandas import DataFrame
frame = DataFrame(data)

In [ ]:
frame

   Name  Age  Salary
0  John   34    4500
1   Tim   23    2300
2   Rob   42    5800

In [ ]:
import pandas as pd

In [ ]:
newdata = data

In [ ]:
frame2 = pd.DataFrame(newdata)

In [ ]:
frame2

   Name  Age  Salary
0  John   34    4500
1   Tim   23    2300
2   Rob   42    5800

In [ ]:
new_frame = pd.DataFrame(newdata, columns=['Name','Salary','Age','Profile'])

In [ ]:
new_frame

   Name  Salary  Age Profile
0  John    4500   34     NaN
1   Tim    2300   23     NaN
2   Rob    5800   42     NaN

In [ ]:
new_frame['Salary']

0    4500
1    2300
2    5800
Name: Salary, dtype: int64

In [ ]:
from pandas import DataFrame

In [ ]:
new_frame.loc[2]

Name        Rob
Salary     5800
Age          42
Profile     NaN
Name: 2, dtype: object

In [ ]:
new_frame['Profile'] = 'Doctor'
new_frame

   Name  Salary  Age Profile
0  John    4500   34  Doctor
1   Tim    2300   23  Doctor
2   Rob    5800   42  Doctor

In [ ]:
new_frame['Educcation'] = 'MS','BSC','BE'
new_frame

   Name  Salary  Age Profile Educcation
0  John    4500   34  Doctor         MS
1   Tim    2300   23  Doctor        BSC
2   Rob    5800   42  Doctor         BE

In [ ]:
new_frame = new_frame.transpose()
new_frame

                 0       1       2
Name          John     Tim     Rob
Salary        4500    2300    5800
Age             34      23      42
Profile     Doctor  Doctor  Doctor
Educcation      MS     BSC      BE

In [ ]:
new_frame = new_frame.transpose()
new_frame

   Name Salary Age Profile Educcation
0  John   4500  34  Doctor         MS
1   Tim   2300  23  Doctor        BSC
2   Rob   5800  42  Doctor         BE

In [ ]:
from pandas import Series
obj = Series([100,200,300,400,500], index=['d','a','b','e','c'])
obj

d    100
a    200
b    300
e    400
c    500
dtype: int64

In [ ]:
obj = obj.reindex(['a','b','c','d','e'])
obj

a    200
b    300
c    500
d    100
e    400
dtype: int64

In [ ]:
new_frame

   Name Salary Age Profile Educcation
0  John   4500  34  Doctor         MS
1   Tim   2300  23  Doctor        BSC
2   Rob   5800  42  Doctor         BE

In [ ]:
new_frame = new_frame.reindex([0,2,1])
new_frame

   Name Salary Age Profile Educcation
0  John   4500  34  Doctor         MS
2   Rob   5800  42  Doctor         BE
1   Tim   2300  23  Doctor        BSC

In [ ]:
fields = ['Name', 'Salary', 'Profile','Education','Age']
new_frame = new_frame.reindex(columns=fields)
new_frame

   Name Salary Profile  Education Age
0  John   4500  Doctor        NaN  34
2   Rob   5800  Doctor        NaN  42
1   Tim   2300  Doctor        NaN  23

In [ ]:
framedrop = new_frame.drop([2])
framedrop

   Name Salary Profile  Education Age
0  John   4500  Doctor        NaN  34
1   Tim   2300  Doctor        NaN  23

In [ ]:
new_frame

   Name Salary Profile  Education Age
0  John   4500  Doctor        NaN  34
2   Rob   5800  Doctor        NaN  42
1   Tim   2300  Doctor        NaN  23

In [ ]:
framedropcolumn = new_frame.drop('Age',axis=1)
framedropcolumn

   Name Salary Profile  Education
0  John   4500  Doctor        NaN
2   Rob   5800  Doctor        NaN
1   Tim   2300  Doctor        NaN

In [ ]:
from pandas import Series
series1 = Series([1,2,3,4,5])
series2 = Series([100,200,300,400,500,600])

In [ ]:
series1 + series2

0    101.0
1    202.0
2    303.0
3    404.0
4    505.0
5      NaN
dtype: float64

In [ ]:
data1 = {'Speed':[100,103,105], 'Temp':[34,23,42]}
framenew = DataFrame(data1)
framenew

   Speed  Temp
0    100    34
1    103    23
2    105    42

In [ ]:
data2 = {'Speed':[101,109,106], 'Temp':[34,23,42], 'Humidity':[45,23,58]}
framenew2 = DataFrame(data2)
framenew2

   Speed  Temp  Humidity
0    101    34        45
1    109    23        23
2    106    42        58

In [ ]:
framenew + framenew2

   Humidity  Speed  Temp
0       NaN    201    68
1       NaN    212    46
2       NaN    211    84

In [ ]:
series2 = Series([100,200], index=['Speed','Temp'])
series2

Speed    100
Temp     200
dtype: int64

In [ ]:
framenew2

   Speed  Temp  Humidity
0    101    34        45
1    109    23        23
2    106    42        58

In [ ]:
framenew2 - series2

   Humidity  Speed   Temp
0       NaN    1.0 -166.0
1       NaN    9.0 -177.0
2       NaN    6.0 -158.0

In [ ]:
se = Series([3,5,6,7,4],index=[3,2,4,1,6])
se

3    3
2    5
4    6
1    7
6    4
dtype: int64

In [ ]:
se.sort_index()

1    7
2    5
3    3
4    6
6    4
dtype: int64

In [ ]:
framenew2 = DataFrame(data2)
framenew2

   Speed  Temp  Humidity
0    101    34        45
1    109    23        23
2    106    42        58

In [ ]:
framenew2 = framenew2.reindex([2,1,0])
framenew2

   Speed  Temp  Humidity
2    106    42        58
1    109    23        23
0    101    34        45

In [ ]:
framenew2.sort_index()

   Speed  Temp  Humidity
0    101    34        45
1    109    23        23
2    106    42        58

In [ ]:
framenew2 = framenew2.sort_index(axis=1, ascending=False)
framenew2

   Temp  Speed  Humidity
2    42    106        58
1    23    109        23
0    34    101        45

In [ ]:
series2

Speed    100
Temp     200
dtype: int64

In [ ]:
series2 = Series([1400,1200,3100], index=['Speed','Temp','Humidity'])
series2

Speed       1400
Temp        1200
Humidity    3100
dtype: int64

In [ ]:
series2.sort_values()

Temp        1200
Speed       1400
Humidity    3100
dtype: int64

In [ ]:
framenew2.sort_values(by='Temp')

   Temp  Speed  Humidity
1    23    109        23
0    34    101        45
2    42    106        58

In [ ]:
series = Series([100,200,300], index=['a','b','b'])
series

a    100
b    200
b    300
dtype: int64

In [ ]:
series.index.is_unique

False

In [ ]:
framenew2

   Temp  Speed  Humidity
2    42    106        58
1    23    109        23
0    34    101        45

In [ ]:
framenew2.sum()

Temp         99
Speed       316
Humidity    126
dtype: int64

In [ ]:
framenew2.sum(axis=1)

2    206
1    155
0    180
dtype: int64

In [ ]:
framenew2.idxmin()

Temp        1
Speed       0
Humidity    1
dtype: int64

In [ ]:
import numpy as np
ser = Series([1,2,3,4,np.nan], ['a','b','c','d','e'])
ser

a    1.0
b    2.0
c    3.0
d    4.0
e    NaN
dtype: float64

In [ ]:
ser.dropna()

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [ ]:
ser = ser.dropna()
ser

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [ ]:
data2

{'Speed': [101, 109, 106], 'Temp': [34, 23, 42], 'Humidity': [45, 23, 58]}

In [ ]:
data2['Humidity'] = [45,np.nan,58]
data2

{'Speed': [101, 109, 106], 'Temp': [34, 23, 42], 'Humidity': [45, nan, 58]}

In [ ]:
new_dataframe = DataFrame(data2)
new_dataframe

   Speed  Temp  Humidity
0    101    34      45.0
1    109    23       NaN
2    106    42      58.0

In [ ]:
new_dataframe.dropna()

   Speed  Temp  Humidity
0    101    34      45.0
2    106    42      58.0

In [ ]:
new_dataframe.fillna('True')

   Speed  Temp Humidity
0    101    34     45.0
1    109    23     True
2    106    42     58.0

In [ ]:
import pandas as pd
data_frame = pd.read_csv("products.csv")
data_frame

FileNotFoundError: ignored

In [ ]:
from pandas import DataFrame

data_frame = DataFrame(data_frame, columns=['order_id','product_name','product_price','brand','product_category','customer_name'])
data_frame

In [ ]:
data_frame = DataFrame.drop(data_frame, index=1)
data_frame

In [ ]:
data_frame = DataFrame.drop(data_frame, columns=['product_category'], axis=1)
data_frame

In [ ]:
data_frame.sort_values(by='product_price')